@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
  font-size: 62.5%;
  /*1rem=10px*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*================event-item=======================*/
@media screen and (max-width: 766px) {
  .pc {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .sp {
    display: none;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #111111;
  background: #FFFFFF;
}

@media screen and (max-width: 766px) {
  body {
    font-size: 1.2rem;
  }
}

a {
  color: #111111;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.inner {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 766px) {
  .br-pc {
    display: none;
  }
}

.header {
  height: 30px;
  width: 100%;
}

@media screen and (max-width: 766px) {
  .header {
    height: 20px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 766px) {
  .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.annotation {
  margin: 0 auto;
  color: #ca1d1d;
  font-size: 1.4rem;
  max-width: 500px;
}

@media screen and (max-width: 766px) {
  .annotation {
    font-size: 1.2rem;
  }
}

.header-head {
  font-size: 6.7rem;
  font-weight: bold;
  text-align: center;
  margin: 30px;
  font-family: "Nico Moji", "Noto Sans", "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  color: #cc9966;
}

@media screen and (max-width: 766px) {
  .header-head {
    font-size: 5.5rem;
    margin: 20px 0;
  }
}

.header-date {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 30px;
  color: #cc9966;
}

@media screen and (max-width: 766px) {
  .header-date {
    margin-top: 0;
    font-size: 1.6rem;
  }
}

.header-date .a {
  display: inline-block;
  margin-top: 10px;
  font-size: 5rem;
  color: #cc9966;
}

@media screen and (max-width: 766px) {
  .header-date .a {
    font-size: 4rem;
    margin-top: 0;
  }
}

.header-date .b {
  width: 40px;
  height: 40px;
  background: #ca361b;
  border-radius: 50%;
  display: inline-block;
  padding-top: 10px;
  color: white;
}

.item-content_a {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_a {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_b {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_b:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_b {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_c {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_c:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_c {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_d {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_d:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_d {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_e {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_e:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_e {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_f {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_f:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_f {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_g {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_g:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_g {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_h {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_h:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_h {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_i {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_i:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_i {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_j {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_j:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_j {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_k {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_k:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_k {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.item-content_l {
  width: 280px;
  border: solid 1px #998787;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-content_l:hover {
  opacity: 0.5;
}

@media screen and (max-width: 766px) {
  .item-content_l {
    font-size: 1rem;
    width: 250px;
    margin-top: 1px;
  }
}

.nav-wrapper_abcdef {
  margin-right: 10px;
}

.nav-wrapper_ghijkl {
  margin-left: 10px;
}

.nav {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -400px;
}

@media screen and (max-width: 766px) {
  .nav {
    display: none;
  }
}

.item-content_wrap {
  color: #111111;
  background: #d1f4f5;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-wrapper_abc {
  max-width: 90%;
  position: relative;
}

@media screen and (max-width: 766px) {
  .nav-wrapper_abc {
    max-width: 90%;
    margin: 0 auto;
  }
}

.nav-wrapper_def {
  position: relative;
}

@media screen and (max-width: 766px) {
  .nav-wrapper_def {
    display: none;
  }
}

.nav-wrapper_ghi {
  position: relative;
}

@media screen and (max-width: 766px) {
  .nav-wrapper_ghi {
    display: none;
  }
}

.nav-wrapper_jkl {
  position: relative;
}

@media screen and (max-width: 766px) {
  .nav-wrapper_jkl {
    display: none;
  }
}

.item-content_meta {
  padding: 3px;
  background: #FFFFFF;
  color: #111111;
  font-size: 1.2rem;
  margin-right: 3px;
  height: 17px;
}

@media screen and (max-width: 766px) {
  .item-content_meta {
    font-size: 1rem;
  }
}

.item-content_venue span {
  font-size: 1.2rem;
}

@media screen and (max-width: 766px) {
  .item-content_venue span {
    font-size: 1rem;
  }
}

.item-content_venue .yellow {
  background: #FFFF33;
  color: black;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 0;
  text-align: center;
  width: 14px;
  height: 14px;
  padding-top: 1px;
}

@media screen and (max-width: 766px) {
  .item-content_venue .yellow {
    left: 5px;
  }
}

/*================about=======================*/
.about {
  margin-top: 100px;
}

@media screen and (max-width: 766px) {
  .about {
    margin-top: 200px;
  }
}

.about-inner {
  margin-bottom: 20px;
}

.about-text {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 10px;
}

.about-text_organizer {
  font-size: 1.4rem;
}

.about-concept {
  background: #f7ebd2;
  border-radius: 10px;
  padding: 10px 20px;
  width: 700px;
  margin: 0 auto;
  font-weight: bold;
  line-height: 1.6;
  max-width: 100%;
}

.about-concept_read {
  text-align: center;
}

.about-concept_tips {
  background: #FFFFFF;
  border-radius: 10px;
  color: #CC0033;
  text-align: center;
  padding: 10px;
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.about-btn {
  margin-top: 10px;
  text-align: center;
}

.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:hover {
  opacity: 0.8;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/*===============map========================*/
.map {
  max-width: 100%;
  margin-top: -10px;
}

@media screen and (max-width: 766px) {
  .map {
    padding-top: 80px;
    margin-top: -90px;
    position: relative;
  }
}

.map-inner {
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.map-title {
  font-size: 3rem;
  color: #FFFFFF;
  background: #cc9966;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0.25em;
}

@media screen and (max-width: 766px) {
  .map-title {
    font-size: 2.5rem;
    margin-top: 20px;
  }
}

.map-img {
  position: relative;
}

.map-img_text2 {
  position: absolute;
  content: "";
  top: 4%;
  margin-left: 50%;
  margin-right: 28%;
  z-index: 1;
}

.map-img_cat {
  position: absolute;
  content: "";
  top: 4%;
  margin-left: 74%;
  margin-right: 0;
}

.map-img_run {
  position: absolute;
  content: "";
  top: 32%;
  margin-right: 5%;
  margin-left: 73%;
}

.map-img_text1 {
  position: absolute;
  content: "";
  top: 19%;
  margin-right: 12%;
  margin-left: 68%;
}

/*================event=======================*/
.event-title__read {
  margin: 0 auto;
  width: 80%;
  padding: 40px;
}

@media screen and (max-width: 766px) {
  .event-title__read {
    padding: 20px;
  }
}

.event-title__read h4 {
  text-align: center;
  padding: 0.5em;
  color: #494949;
  background: #fff2e3;
  font-weight: bold;
  font-size: 2.2rem;
}

@media screen and (max-width: 766px) {
  .event-title__read h4 {
    font-size: 1.8rem;
  }
}

.event-title__read span {
  font-size: 1.4rem;
}

@media screen and (max-width: 766px) {
  .event-title__read span {
    font-size: 1.2rem;
  }
}

.event-title {
  max-width: 1200px;
  margin: 30px auto 20px;
  font-size: 3rem;
  color: #FFFFFF;
  background: #cc9966;
  font-weight: bold;
  text-align: center;
  padding: 0.25em;
}

@media screen and (max-width: 766px) {
  .event-title {
    font-size: 2.5rem;
    margin-top: 20px;
  }
}

.event-inner {
  width: 1200px;
  max-width: 90%;
}

.event-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#a {
  width: 360px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.event-item {
  margin: 0 auto;
  padding-bottom: 10px;
  width: 360px;
}

.event-item:not(:nth-child(3n + 1)) {
  margin-left: auto;
}

@media screen and (max-width: 766px) {
  .event-item {
    width: 90%;
  }
  .event-item:not(:nth-child(3n + 1)) {
    margin-left: auto;
  }
}

.event-container {
  border-bottom: 2px solid #AAAAAA;
}

.text-min {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ca1d1d;
}

.event-item_top {
  color: #FFFFFF;
  background: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 3px;
}

.event-item_top .size {
  font-size: 1.8rem;
}

.event-item_top .back-yellow {
  background: #FFFF33;
  color: black;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 766px) {
  .event-item_top .back-yellow {
    top: 0;
    line-height: 18px;
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 766px) {
  .event-item_top {
    font-size: 1.4rem;
  }
}

.event-item_top_3x3 {
  color: #FFFFFF;
  background: black;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 3px;
}

.event-item_top_3x3 .size {
  font-size: 1.8rem;
}

.event-item_top_3x3 .back-yellow {
  background: #FFFF33;
  color: black;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 0;
  text-align: center;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 766px) {
  .event-item_top_3x3 .back-yellow {
    height: 16px;
  }
}

@media screen and (max-width: 766px) {
  .event-item_top_3x3 {
    font-size: 1.4rem;
  }
}

.event-item_note {
  font-weight: bold;
}

.event-item_time {
  padding: 5px 5px 5px 0;
  font-weight: bold;
  line-height: 1.6;
}

.event-item_time .time-ja {
  color: #FFFFFF;
  background: #cc9966;
  padding: 0px 5px;
  margin-right: 5px;
}

.event-item_time .time {
  font-size: 1.8rem;
}

@media screen and (max-width: 766px) {
  .event-item_time .time {
    font-size: 1.2rem;
  }
}

.event-item_time .red {
  color: #ca1d1d;
}

.event-item_title {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  background: #CCFFFF;
}

.event-item_title span {
  font-size: 1.4rem;
}

@media screen and (max-width: 766px) {
  .event-item_title span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 766px) {
  .event-item_title {
    font-size: 1.4rem;
  }
}

.event-item_title_sm {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px;
  background: #CCFFFF;
}

.event-item_title_sm span {
  font-size: 1.4rem;
}

@media screen and (max-width: 766px) {
  .event-item_title_sm span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 766px) {
  .event-item_title_sm {
    font-size: 1.2rem;
  }
}

.event-item_title_pink {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  background: #FFE4E1;
}

.event-item_title_pink span {
  font-size: 1.4rem;
}

@media screen and (max-width: 766px) {
  .event-item_title_pink span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 766px) {
  .event-item_title_pink {
    font-size: 1.4rem;
  }
}

.event-item_title_green {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  background: #E6FFE9;
}

.event-item_title_green span {
  font-size: 1.4rem;
}

@media screen and (max-width: 766px) {
  .event-item_title_green span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 766px) {
  .event-item_title_green {
    font-size: 1.4rem;
  }
}

.event-item_text {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-item_read {
  font-weight: bold;
  line-height: 1.6;
  position: relative;
  padding-top: 10px;
}

.event-img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 100px;
  left: -130px;
}

@media screen and (max-width: 766px) {
  .event-img_wrap {
    top: 0;
    left: -20px;
  }
}

.event-item_img {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
}

@media screen and (max-width: 766px) {
  .event-item_img {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

.event-item_img_c {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  padding-bottom: 40px;
  left: 220px;
  top: -60px;
}

@media screen and (max-width: 766px) {
  .event-item_img_c {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

.event-item_img_d {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  left: 210px;
  top: -120px;
}

@media screen and (max-width: 766px) {
  .event-item_img_d {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

.event-item_img_e {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  padding-bottom: 30px;
  left: 220px;
  top: -80px;
}

@media screen and (max-width: 766px) {
  .event-item_img_e {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

.event-item_img_f {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  left: 210px;
  height: 110px;
}

@media screen and (max-width: 766px) {
  .event-item_img_f {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {
  .event-item_img_f {
    height: 150px;
  }
}

.event-item_img_g {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  left: 210px;
}

@media screen and (max-width: 766px) {
  .event-item_img_g {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {
  .event-item_img_g {
    top: 20px;
  }
}

.event-item_img_h {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  height: 20px;
  left: 220px;
  top: -80px;
  padding-bottom: 30px;
}

@media screen and (max-width: 766px) {
  .event-item_img_h {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {
  .event-item_img_h {
    height: 150px;
  }
}

.event-item_img_i {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  left: 210px;
}

@media screen and (max-width: 766px) {
  .event-item_img_i {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

.event-item_img_j {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  left: 210px;
  top: -120px;
}

@media screen and (max-width: 766px) {
  .event-item_img_j {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

.event-item_img_k {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  left: 170px;
  top: -160px;
  width: 180px;
}

@media screen and (max-width: 766px) {
  .event-item_img_k {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {
  .event-item_img_k {
    height: 150px;
  }
}

.event-item_img_l {
  height: 0;
  position: relative;
  top: -100px;
  left: 210px;
  width: 140px;
  left: 210px;
  height: 70px;
  top: -40px;
}

@media screen and (max-width: 766px) {
  .event-item_img_l {
    height: 130px;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {
  .event-item_img_l {
    height: 150px;
  }
}

.event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-weight: bold;
  border-bottom: 2px solid #AAAAAA;
}

@media screen and (max-width: 766px) {
  .event-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 766px) {
  .event-about {
    text-align: center;
  }
}

.event-about_meta {
  font-size: 1rem;
  letter-spacing: -1px;
  line-height: 1.6;
}

.event-img {
  width: 40%;
  height: 150px;
  margin-top: 40px;
  position: relative;
  left: -25px;
}

@media screen and (max-width: 766px) {
  .event-img {
    margin-top: 10px;
    margin: 0 auto;
  }
}

.event-about_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-about_img img {
  margin-bottom: 2px;
  margin-right: 2px;
  width: 65px;
  height: auto;
}

@media screen and (max-width: 766px) {
  .event-camp {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.event-camp_item {
  font-weight: bold;
  font-size: 1.2rem;
  list-style-type: disc;
  margin-left: 15px;
}

@media screen and (max-width: 766px) {
  .event-camp_item {
    font-size: 0.8rem;
  }
}

.event-footer {
  font-size: 1.4rem;
  font-weight: bold;
}

@media screen and (max-width: 766px) {
  .event-footer {
    font-size: 1rem;
  }
}

.event-footer_text {
  margin-top: 4px;
  line-height: 1.6;
}

.event-footer_text span {
  color: #FFFFFF;
  background: #cc9966;
  padding: 0px 5px;
  font-size: 1.2rem;
  margin-right: 5px;
}

@media screen and (max-width: 766px) {
  .event-footer_text span {
    font-size: 0.6rem;
  }
}

.footer {
  background: #cc9966;
  color: #FFFFFF;
  height: 150px;
}

@media screen and (max-width: 766px) {
  .footer {
    height: 120px;
  }
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media screen and (max-width: 766px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
}

.footer-title {
  font-size: 4rem;
  font-family: "Nico Moji", "Noto Sans", "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

@media screen and (max-width: 766px) {
  .footer-title {
    font-size: 3rem;
    margin-top: 5px;
  }
}

.footer-text {
  font-size: 1.8rem;
  margin-top: 45px;
  margin-left: auto;
}

@media screen and (max-width: 766px) {
  .footer-text {
    font-size: 1.4rem;
    margin-top: 0;
    margin: 5px auto;
  }
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.my-color {
  color: #dfc9b4;
}

.my-color:hover {
  opacity: 0.7;
}
