$black: #111111;
$white: #FFFFFF;
$gray: #F3F3F3;

$font-ja:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
$font-nic:"Nico Moji",'Noto Sans', 'Noto Sans JP', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo,sans-serif;

$layout-width-inner: 1200px;

$font-20:2rem;
$font-18: 1.8rem;
$font-14:1.4rem;
$font-12:1.2rem;
$font-10:1.0rem;